/* Общие стили для всех страниц */
body {
  background-color: #000000; /* Черный фон */
  color: #ffffff; /* Белый текст */
  font-family: Arial, sans-serif; /* Шрифт */
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Стили для ссылок */
a {
  color: #ffffff; /* Белый цвет ссылок */
  text-decoration: none;
}

a:hover {
  color: #cccccc; /* Светло-серый цвет ссылок при наведении */
}

/* Стили для меню */
.menu-container {
  background-color: #111111; /* Темно-серый цвет меню */
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.menu-container.open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: block;
}

.menu-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1dbec0;
  margin-bottom: 6px;
  transition: transform 0.3s ease-in-out;
}

.menu-container.open .menu-line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-container.open .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-container.open .menu-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  color: #1dbec0;
  text-decoration: none;
}

/* Стили для контента */
.content-section {
  padding: 20px;
  margin-left: 220px; /* Добавлено, чтобы избежать наложения контента на меню */
}

/* Стили для футера */
footer {
  background-color: #111111; /* Темно-серый цвет футера */
  color: #ffffff; /* Белый цвет текста в футере */
  padding: 10px;
  text-align: center;
  margin-left: 220px; /* Добавлено, чтобы избежать наложения футера на меню */
}

/* Стили для бегущей строки */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  background-color: #000000; /* Черный фон, как и общий фон страницы */
  color: #ffffff; /* Белый цвет текста, чтобы хорошо сочетался с общим стилем */
  padding: 10px 0;
}

@keyframes marquee {
  0% { text-indent: 100% }
  100% { text-indent: -100% }
}

/* Стили для больших экранов */
@media (min-width: 1200px) {
  .menu-container {
    width: 250px;
  }

  .content-section {
    margin-left: 270px; /* Увеличено отступление для контента на больших экранах */
  }

  footer {
    margin-left: 270px; /* Увеличено отступление для футера на больших экранах */
  }
}

/* Стили для средних экранов */
@media (min-width: 766px) and (max-width: 1199px) {
  .menu-container {
    width: 180px;
  }

  .content-section {
    margin-left: 200px; /* Увеличено отступление для контента на средних экранах */
  }

  footer {
    margin-left: 200px; /* Увеличено отступление для футера на средних экранах */
  }
}

/* Стили для мобильных устройств */
@media (max-width: 765px) {
  .menu-container {
    width: 100%;
    height: auto;
    position: static;
    transform: none;
  }

  .menu-toggle {
    display: none;
  }

  .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu li {
    margin: 10px;
  }

  .content-section {
    margin-left: 0; /* Обнулено отступление для контента на мобильных устройствах */
  }

  footer {
    margin-left: 0; /* Обнулено отступление для футера на мобильных устройствах */
  }
}
